html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    
    
    
}

img{
    border-radius: 50%;
    max-width: 100px;
}
.card{
    display: flex;
    padding: 5px;
    padding: 15px 0px;
    border-top: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgb(160, 160, 160);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    
   
}
.text{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-top {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
button{
    min-width: 10rem;
    height: 3rem;
    background-color: #fff;
    color: rgb(119, 199, 0);
    border-style: solid;
    border-color: rgb(119, 199, 0);
    border-radius: 5px;
    
}

h4{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(182, 182, 182);
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
    margin-bottom: 2px;
    align-self: flex-start;
}

@media  (min-width: 768px)  {  



.card{
    display: flex;
    padding: 5px;
    padding: 15px 0px;
    border-top: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgb(160, 160, 160);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 45rem;
    
   
}
.text{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-top {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

button {
    max-width: 10rem;
}

}

@media  (min-width: 992px)  { 
    .card{
        flex-direction: row;
        margin: 10px;
        min-width: 60rem;
    }

    .card-top {
        justify-content: space-between;
    }
    .card * {
        margin: 10px;
    }

    h4{
        align-self: flex-start;
    }

 }


